### Printing  in python

In [1]:
print('Hello World!')

Hello World!

### Comments

In [3]:
# This is a comment 
# A comment is a readable explanation for a code

print("comment cell")

comment cell

### Printing multiple statements

In [5]:
print('Hello')
print('    World')
print('    !')

Hello
    World
    !

### Print multiple lines using a single print command

In [13]:
print('
Hello 
world
!
')

SyntaxError: EOL while scanning string literal (Temp/ipykernel_12144/2463127023.py, line 1)

#### This gave us an error. To print multiple lines using a single print command, we use ''' '''

In [17]:
### comment multiple lines = CTRL + '/'
print('''
Hello 
world
!
''')

Hello's
world
!

In [20]:
print("""Kaspar's
multi
line
string
""")

Kaspar's
multi
line
string

### Markdown

This is a markdown cell. It can be used to add text to the notebook.

a) Headings in markdown:


# Heading 1
## Heading 1.1
### Heading 1.2
#### Heading 1.3

b) Creating a table in markdown:

| This | is   |
|------|------|
|   a  | table|

c) We can add links in markdown:
https://www.python.org/

# Kaspar Extras:  
There are many more options as well, such as 
### Images
![markdown_reference_in_jupyter.png](markdown_reference_in_jupyter.png)

    
As well as embedding `code`  
```
# or bigger blocks 
# of multi-line code
# like this
```  
into text. Simply click "Help" then "Markdown Reference" from Jupyter Lab (or Notebook)

For making tables, consider using an auto-generator, which you can google "Markdown Table Generator"

### Python variables
(declaring a variable)

In [23]:
# declaring a variable

x = 5
x

5

In [26]:
x = 1
y = 2
z = 3
print(x, y, z)
# print(y)
# print(z)

1 2 3

Variables can store data of different types, and different types can do different things.

Python has the following data types built-in by default, in these categories:

1) Text Type:	str

2) Numeric Types:	int, float, complex

3) Boolean Type(True/False):	bool

4) Sequence Types:	list, tuple, range

5) Mapping Type:	dict

6) Set Types:	set, frozenset

In [46]:
x = 7   # int
y = 9.3  # float
z = 2+2j   # complex
a = 'hi' # str
b = True # bool
print(x)
print(y)
print(z)
print(a)

7
9.3
(2+2j)
hi

### How to check data type of a variable?

In [47]:
type(x)

int

In [48]:
type(y)

float

In [49]:
type(z)

complex

In [50]:
type(a)

str

In [51]:
type(b)

bool

### Kaspar Update:
Many objects in python can actually be more than one type. You can check whether something has an "inherited" type using `isinstance(object, type)`.  
(This is generally "more Pythonic" compared to checking exact datatypes, in the workplace.)

In [54]:
from collections.abc import Iterable  # this particular "type" has to be imported first


# is a "List" iterable?
a = [1,2,3,3]
print(a)
isinstance(a, Iterable)

[1, 2, 3, 3]

True

In [57]:
[1,2,3] == [3,2,1]

False

In [128]:
{1,2,3} == {3,2,1}

True

In [127]:
# How would you remove duplicates?
input_list = [1,1,1,1,2,3,4,4,4,4,4]

list(set(input_list))

[1, 2, 3, 4]

In [55]:
# What about a set?
a = {1,2,3,3}
print(a)
isinstance(a, Iterable)

{1, 2, 3}

True

In [59]:
# and string?
isinstance('123', Iterable)

True

In [62]:
# what about a multi-digit integer?
isinstance(123, Iterable)

False

In [65]:
def takes_any(x):
    if isinstance(x, int):
        print(x, "is an integer")
    elif isinstance(x, float):
        print(x, "is a float")
    elif isinstance(x, str):
        print(x, 'is a string')
    else:
        print("nothing found, we reached the end.")
        
    if isinstance(x, Iterable):
        for thing in x:
            print(thing)
            
            
takes_any([1, 2, 'a', 'b', {7,8,9}])

nothing found, we reached the end.
1
2
a
b
{8, 9, 7}

### Arithmetic operations

Arithmetic operators are used to perform mathematical operations like addition, subtraction, multiplication, etc.

` +	Add two operands or unary plus	x + y`

` - Subtract right operand from the left or unary minus	x - y`

` *	Multiply two operands	x * y`

` /	Divide left operand by the right one (always results into float)	x / y`

` //	Floor division - division that results into whole number	x // y`

` %	Modulus - remainder of the division of left operand by the right	x % y (remainder of x/y)`

` **	Exponent - left operand raised to the power of right	x**y (x to the power y)`

In [66]:
x = 10
y = 5

In [72]:
type(x), type(y)

(int, int)

In [67]:
x + y

15

In [68]:
x - y

5

In [69]:
x * y

50

In [73]:
x / y

2.0

In [84]:
z = 12
z // y

2

In [81]:
x // y

2

In [82]:
x, y

(10, 5)

In [83]:
x % y

0

In [88]:
z = 59
z % y
# (59 / 5) == dont_care * 5 + 4  # remainder
"modulo"

'modulo'

In [92]:
x ** y

100000

## Comparison operators

Comparison operators are used to compare values. It returns either True or False according to the condition.

`>	Greater than - True if left operand is greater than the right	x > y`

`<	Less than - True if left operand is less than the right	x < y`

`==	Equal to - True if both operands are equal	x == y`

`!=	Not equal to - True if operands are not equal	x != y`

`>=	Greater than or equal to - True if left operand is greater than or equal to the right	x >= y`

`<=	Less than or equal to - True if left operand is less than or equal to the right	x <= y`

In [93]:
x = 10
y = 5

In [94]:
x > y

True

In [95]:
x < y

False

In [96]:
x == y

False

In [97]:
x != y

True

In [99]:
x >= y

True

In [102]:
x <= y

False

## Logical operators

`and : True if both the operands are true	x and y`

`or : True if either of the operands is true	x or y`

`not : True if operand is false (complements the operand) not x`

In [122]:
x = True
y = False

In [123]:
x = 2+2 == 4
x

True

In [124]:
y = 2+5 == 6
y

False

In [125]:
x and y

False

In [126]:
x or y

True

In [ ]:
not x

In [ ]:
not y

In [121]:
not True

-1